/*============================================== This is the main stylesheet. This is used by all the pages================================================*/

/*IMPORT FONTS FROM GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Archivo|Merriweather|Open+Sans|Roboto|Ubuntu');
/*STYLE OF THE BODY*/
body, html {
    background: linear-gradient(0.30turn,#4f7c94,#3b6b8d);
    font-family: "Ubuntu" !important;
    margin: 0;
    a {
        text-decoration: none;
    }
    p {
        color: #e0dddd;
    }
}
/*STYLE OF THE HEADER, SECTION ON THE TOP OF THE PAGE*/
header {
    padding: 1em;
    position: fixed;
    width: 100%;
    background: #5684A5;
    height: 60px;
    z-index: 2;
    box-shadow: 1px 1px 10px;
    .menu-btn {
        width: 20px;
        float: right;
        cursor: pointer;
        margin-top: 5px;
    }
    #navLogo {
        width: 100px;
        height: 100px;
        position: relative;
        bottom: 33px;
    }
}
/*SECTION BETWEEN HEADER AND FOOTER, WHERE ALL CONTENT IS PLACED*/
section {
    padding-top: 4em;
    width: 100%;
    text-align: justify;
    h1 {
        font-size: 3em;
        margin: 1em auto;
        width: 100%;
        text-align: center;
        &::before {
            content: ' ';
            border-top: 5px solid #69e987;
            display: block;
        }
    }
    p {
        font-size: 20px;
    }
}
/*THE ACTUAL CONTENT IS ALSO WRAPPED IN A WRAPPER DIV, TO ALLOW MORE CUSTOMISATION*/
#wrapper {
    width: 94%;
    margin: auto;
    #slideshow {
        width: 85%;
        margin: auto;
        box-shadow: #3b5164 5px 5px 20px;
    }
    #greeting {
        font-family: Merriweather;
        font-size: 40px;
        text-align: center;
        font-style: italic;
    }
}
/*FULL PAGE NAVIGATION MENU*/
nav {
    position: absolute; /* absolute allows to diplsay the content above all the others*/
    background: linear-gradient(0.80turn,#20394d,#2a4b63);
    padding: 2em;
    width: calc(100%);
    height: calc(100vh);
    display: none;
    transform: scalex(0);
    transform-origin: right; /*Choose from which side of the screen the animation should start*/
    opacity: 0.98;
    z-index: 5; /*Allow to display the page in fron of everything else*/
    margin-bottom: 20px;
    /*Customise font awesome icons and the menu button*/
    .close-btn, i {
        color: #69e987;
        width: 18px;
        float: right;
        cursor: pointer;
        font-size: 40px;
        opacity: 0;
    }
    /*Customise the list for the navigation menu*/
    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5,20%);
        width: 80%;
        @media screen and (-ms-high-contrast:active), screen and (-ms-high-contrast:none) {
            display: flex;
            li {
                padding-right: 150px;
            }
        }
    }
    a {
        color: white;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: none !important;
    }
    /* Change the styling of the links when the user hover on them with the cursor*/
    a:hover {
        color: #37B057;
    }
    /* The page that is currently displayed, will have a different style on the navigation menu, so that the user can easily understand on which page he/she is.*/
    #current {
        color: #69e987;
        font-weight: bold;
        font-size: 1.4em;
        text-decoration: underline !important;
    }
    /*Style for the descrption under the menu's items*/
    span {
        color: #ffffff;
        display: block;
        font-size: 0.75em;
        margin-top: 20px;
    }
    li {
        opacity: 0;
    }
    #dateTime { /*Date and time will be displayed inside the full page navigation menu*/
        border: 2px solid #69e987;
        margin: auto;
        opacity: 0;
        margin-top: 10%;
        width: 50%;
        box-shadow: #1a2e3f 2px 2px 15px;
        p {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            color: #c3cac5;
            opacity: 0;
        }
    }
}
/*STYLE OF THE MAP*/
.mapouter {
    height: 80%;
    width: 90%;
    margin: auto;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    max-height: 100%;
    max-width: 100%;
}
/*CUSTOM SCROLLING BAR*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #234d2d;
}
::-webkit-scrollbar-thumb {
    background: #69e987;
}
::-webkit-scrollbar-thumb:hover {
    background: #42bd5f;
}
/*ANIMATIONS FOR THE FULL PAGE NAVIGATION MENU*/
.show-menu {
    display: block;
    animation: slide-menu 0.90s ease-in forwards;
    #close-menu { /*sets where the animation should start, and how long it takes*/
        animation: show-x 1s 1s forwards;
    }
    /* nth-of-type allows to style single elements, even if they don't have IDs, it works by selecting the number of the element. nth-of-type(1) selects the first item.*/
    li:nth-of-type(1) {
        animation: menu-item-anim 0.6s forwards 0.95s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: menu-item-anim 0.6s forwards 1.1s ease-in-out;
    }
    li:nth-of-type(3) {
        animation: menu-item-anim 0.6s forwards 1.25s ease-in-out;
    }
    li:nth-of-type(4) {
        animation: menu-item-anim 0.6s forwards 1.35s ease-in-out;
    }
    li:nth-of-type(5) {
        animation: menu-item-anim 0.6s forwards 1.45s ease-in-out;
    }
    #dateTime {
        animation: menu-item-anim 0.6s forwards 1.50s ease-in-out;
    }
    #date {
        animation: menu-item-anim 0.6s forwards 1.60s ease-in-out;
    }
    #time {
        animation: menu-item-anim 0.6s forwards 1.80s ease-in-out;
    }
    #text {
        animation: menu-item-anim 0.6s forwards 1.85s ease-in-out;
    }
}
/*KEYFRAMES, this is what allows the animation. Creates frames, that will be used as a reference by the animation, to "understand" where to start and end*/
@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animateText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes showText {
    0% {
        width: 0;
        left: 0;
        transform: translateX(0);
    }
    50% {
        width: 100%;
        transform: translateX(12%);
    }
    100% {
        transform: translateX(100%);
    }
}

/*ANIMATION OF THE PRODUCTS*/
section {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4,auto);
        /*Customise the entire image element*/
        figure {
            margin: 3px;
            overflow: hidden;
            position: relative;
            transition: background-color .5s;
            img {
                /*Customise just the image*/
                width: calc(100% + 60px);
                opacity: .7;
                transform: translate3d(0,-20px,0) scale(1.12);
                transition: all .5s;
            }
            /*Customise just the calption of the image*/
            figcaption {
                width: 100%;
                position: absolute;
                /*padding: 7em 6em;*/
                top: 20%;
                left: auto;
                color: #ffffff;
                text-align: center;
                .additional {
                    p {
                        margin-bottom: 20px;
                    }
                    a {
                        display: inline-block;
                        background: white;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: .5em;
                        font-weight: bold;
                        color: black;
                        border-radius: 4px;
                    }
                    /*I allos to target a specific link, in this case the last link. It is easier using las-child, as there is no need to create a specific divider*/
                    a:last-child {
                        background: none;
                        border: 1px solid white;
                        color: white;
                        margin-left: 5px;
                    }
                }
            }
            .additional {
                opacity: 0;
                transform: scale(1.3);
                transition: all .5s;
            }
        }
        figure:first-child {
            margin-left: 0;
        }
        figure:hover img {
            transform: translate3d(0,0,0) scale(1);
            opacity: .4;
        }
        figure:hover .additional {
            opacity: 1;
            transform: scale(1);
        }
        figure:hover figcaption::before {
            transform: rotateZ(-45deg) translate3d(0,0,0);
        }
    }
}

/*MEDIA QUERIES*/
@media(max-width:780px) {
    /*Change to the main styles, like padding and how the content is displayed*/
    header {
        .menu-btn {
            margin-right: 25px;
        }
    }
    nav {
        position: absolute;
        background: linear-gradient(0.80turn,#20394d,#2a4b63);
        padding: 2em;
        width: calc(100%);
        height: 100%;
        opacity: 1;
        z-index: 5;
        ul {
            display: block;
        }
        li {
            margin-bottom: 2em;
        }
    }
    .mapouter {
        width: 100%;
    }

}

@media(max-width: 800px) {
    section {
        .gallery {
            display: grid;
            grid-template-columns: repeat(1,auto);
            figure {
                margin: 3px;
                overflow: hidden;
                position: relative;
                transition: background-color .5s;
                img {
                    width: calc(100% + 60px);
                    opacity: .7;
                    transform: translate3d(0,-20px,0) scale(1.12);
                    transition: all .5s;
                }
                figcaption {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #ffffff;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    }
                }
            }
        }
}